<!-- Navigation bar  -->
<nav class="navbar navbar-expand-sm bg-warning-subtle py-3">
    <div class="container">
        <i class="fa-solid fa-dog"></i>
        <a class="navbar-brand fw-bold" href="#">Pawwelfare</a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="nav">
            <ul class="navbar-nav gap-3">
                <li class="nav-item"><a class="nav-link active">Home</a></li>
                <li class="nav-item"><a class="nav-link">About us</a></li>
                <li class="nav-item"><a class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- main section -->
<section class="py-5 bg-warning-subtle">
    <div class="container">

        <div class="row align-items-center">

            <div class="col-12 col-md-6 text-center text-lg-start mb-4 mb-lg-0">

                <h1 class="display-5 fw-bold">
                    Adopt A <br> Furry Friend
                </h1>

                <p class="text-muted">
                    Life is easier with a furry best friend by your side
                </p>

                <div class="d-flex flex-column flex-sm-row gap-2 mt-4 justify-content-center justify-content-lg-start">
                    <input class="form-control" placeholder="Choose your location">
                    <button class="btn btn-warning px-4">Search</button>
                </div>

            </div>

            <div class="col-12 col-md-6 text-center">
                <img src="assets/dog.jpg" class="img-fluid rounded-circle" style="max-height:420px">
            </div>
        </div>
    </div>
</section>

<!-- Animals Available For Adoption  -->
<section class="py-5">
    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            Animals Available For Adoption Near You
        </h2>

        <div class="row g-4">

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 text-center h-100">

                    <div class="bg-warning-subtle p-4 rounded-top">
                        <img src="./assets/rose.jpeg" class="img-fluid pet-img">
                    </div>

                    <div class="card-body bg-warning rounded-bottom">
                        <h5 class="card-title mb-1">Rose</h5>
                        <p class="small mb-0">1 year old • Female</p>
                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 text-center h-100">

                    <div class="bg-info-subtle p-4 rounded-top">
                        <img src="./assets/mia.jpg" class="img-fluid pet-img">
                    </div>

                    <div class="card-body bg-info text-white rounded-bottom">
                        <h5 class="card-title mb-1">Mia</h5>
                        <p class="small mb-0">1 year old • Female</p>
                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 text-center h-100">

                    <div class="bg-danger-subtle p-4 rounded-top">
                        <img src="./assets/Calico.jpeg" class="img-fluid pet-img">
                    </div>

                    <div class="card-body bg-danger text-white rounded-bottom">
                        <h5 class="card-title mb-1">Calico</h5>
                        <p class="small mb-0">3 years old • Male</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- get in touch -->
<section class="py-5 bg-warning-subtle">
    <div class="container text-center">

        <h2 class="fw-bold mb-3">Get In Touch With Us</h2>

        <p class="text-muted mb-4">
            Subscribe to receive updates and pet adoption tips
        </p>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">

                <div class="d-flex flex-column flex-sm-row gap-2 mt-4 justify-content-center justify-content-lg-start">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <button class="btn btn-warning">Subscribe</button>
                </div>

            </div>
        </div>

    </div>
</section>